body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    background-color: #f6f6f6;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
  background-color: #2B2B2B; 
  color: white;              
  font-weight: bold;        
}

td {
    font-size: 18px;
}

img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

td a {
    color: #1976D2;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

td a:hover {
    color: #64B5F6;
}