body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 30px;
    text-align: center;
}

h1 {
    color: #1E90FF;
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #1E90FF;
    color: white;
    text-transform: uppercase;
}

td img {
    width: 100px;
    border-radius: 6px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e3f2fd;
}


.header {
    color: white;
    background-color: #1E90FF;
}

.highlight-row {
    background-color: #B3E5FC;
    font-size: 18px;
    color: #0D47A1;
    font-weight: bold;
}

.hover-link {
  text-decoration: none;    
  color: #0D47A1;            
  transition: color 0.3s ease; 
}

.hover-link:hover {
  color: #64B5F6;            
}

.nav {
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
}

.nav a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}

.nav a:hover {
  text-decoration: underline;
}