body {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

table {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
    color: black;
}

img {
    width: 420px;
}

a {
    text-decoration: none;
}

.nav {
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
}

.nav a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}

.nav a:hover {
  text-decoration: underline;
}